.modal-header{
    background: #3A6073;
}

@charset "UTF-8";
/* CSS Document */

p {
    color:#CCC;
}

.spacing {
    padding-top:7px;
    padding-bottom:7px;
}
.middlePage {
    width: 680px;
    position: absolute;
    top:20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
}

.logo {
    color:#CCC;
}

.btn-login {
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
}

.error-message{
    display: none;
}

.has-error .error-message{
    display: block;
}
.row-login{
    background: #3A6073;
}
.row{
    background: #000;
}
.row.headMenu{
    background: #1a1a1a;
    padding-top: 80px;
}
.headMenuLeft{
    padding-top: 15px;
}
.headMenuRight{
    /*text-align: right;*/
}
.logo{
    height: 100px;
    width: 100px;
    padding-top: 20px;
}
.logoImg{

    height: 60px;
    width: 60px;
}
.menu{
    padding-top: 30px;
}
.gioiThieu{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gioiThieuText{
    font-size: 18px;
}
.colorTextWhite{
    color:#fff;
}
.colorTextRed{
    color:#ff3333;
}
.Glyphicons-icon{
    color: #ff3333;
    font-size: 50px;
}
.services{
    padding-bottom: 50px;
}
.serviceItem{
    color:#fff;
}
.titile{
    color:#fff;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.location{
    padding-bottom: 10px;
}
.btn-byNow{
    /*padding-bottom: 10px;*/
}
.btn-readMore{
    /*padding-bottom: 20px;*/
}
.BLOG{
    padding-bottom: 120px;
}
.EVENTS{
    padding-bottom: 120px;
}
.latest-content-info{
    background: #000;
    text-align: center;
}
.conten{
    background: #000;
}
.icon{
    font-size: 40px;
    /*background: #4d4d4d;*/
}
.home{
    color:#ff3333;
    font-size: 15px;
}